<div class = "header">
  <div class = "header__botton-home">
    <%= link_to "ホーム", declarations_path %>
  </div>

  <div class = "header__botton-score">
    <%= link_to "記録一覧", score_declarations_path %>
  </div>
</div>