
<%= render 'shared/header' %>

<p id="notice"><%= notice %></p>

<div class = "title">
  <h1 class = "title__main-title">Test Management</h1>
  <h2 class = "title__sub-title">〜 効率と生産性を向上させよう！ 〜</h2>
</div>

<div id = "sentence">
  <div id = "sentence1" class = "sentence">明日死ぬかのように生きよ。<br>永遠に生きるかのように学べ。<br>- マハトマ・ガンジー -<a href = ""><img src = ""></a></div>
  <div id = "sentence2" class = "sentence">人生とは今日一日のことである。<br>- デール・カーネギー -<a href = ""><img src = ""></a></div>
  <div id = "sentence3" class = "sentence">時間の浪費をなんとも思わない人は、人生の価値をまだ発見してはいない。<br>- ダーウィン -<a href = ""><img src = ""></a></div>
  <div id = "sentence4" class = "sentence">睡眠は三日間で三時間。こんなつらい仕事を四十年続けるなんて、馬鹿じゃないとできないですよ。<br>- 手塚治虫 -<a href = ""><img src = ""></a></div>
  <div id = "sentence5" class = "sentence">人は、生まれ、ほんの一瞬生き、そして死ぬんだ。ずっとそうだ。<br>- スティーブ・ジョブズ -<a href = ""><img src = ""></a></div>
  <div id = "sentence6" class = "sentence">時というものは、それぞれの人間によって、それぞれの速さで走るものなのだよ。<br>- シェイクスピア -<a href = ""><img src = ""></a></div>
</div>

<h3 class = "howToUse">
  <div class = "howToUse__title">＜このアプリの使用方法＞</div>
  <div class = "howToUse__sentence">
  <br>①何のための時間にするのか  ②なぜそのアクションをするのか  ③どれだけの時間を使うか
  <br>以上の３点を考え、宣言しよう！あとはストップウォッチで時間を計測するだけ！<br>
  <br>計測が終わったら、どんどん次のアクションへ進もう！休憩時間や食事の時間もストイックに計ろう！
  <br>ストップウォッチを開始する場合 ⇨<span>『開始する』</span>ボタンを押下してください。
  <br>次のアクションに進む場合 ⇨<span>『記録する』</span>ボタンを押下してください。<br>
  <br><span>『記録一覧』</span>で１日の行動を振り返ろう！<span>『今日を終了』</span>ボタンで、記録は全て消去されます。
  <br><br>注意事項：記録をすることができるのは１日だけです。１日の時間配分にのみフォーカスしてください。<br><br>
  <br><div class = "point">偉人たちの言葉を参考に<br>「自分の時間（＝人生）を使う」ことを意識して行動しよう！</div>
  </div>
</h3>



<div class = "start__button">
  <%= link_to "Start!!", new_declaration_path, class: "start__button-btn" %>
</div>


