
<%= render 'shared/header' %>

<p id="notice"><%= notice %></p>

<div class = "title">
  <h1 class = "title__main-title">Refined Time Management</h1>
  <h2 class = "title__sub-title">〜 効率と生産性を向上させよう！ 〜</h2>
</div>

<div id = "sentence">
  <div id = "sentence1" class = "sentence">明日死ぬかのように生きよ。<br>永遠に生きるかのように学べ。<br>- マハトマ・ガンジー -</div>
  <div id = "sentence2" class = "sentence">時というものは、<br>それぞれの人間によって、<br>それぞれの速さで走るものなのだよ。<br>- シェイクスピア -</div>
  <div id = "sentence3" class = "sentence">普通の人々は時間をつぶすことに心を用い、<br>才能ある人間は時を利用することに心を用いる。<br>- アルトゥール・ショーペンハウアー -</div>
  <div id = "sentence4" class = "sentence">睡眠は三日間で三時間。<br>こんなつらい仕事を四十年続けるなんて、<br>馬鹿じゃないとできないですよ。<br>- 手塚治虫 -</div>
  <div id = "sentence5" class = "sentence">人は、生まれ、<br>ほんの一瞬生き、そして死ぬんだ。<br>ずっとそうだ。<br>- スティーブ・ジョブズ -</div>
  <div id = "sentence6" class = "sentence">人生とは今日一日のことである。<br>- デール・カーネギー -</div>
</div>

<h3 class = "howToUse">
  <div class = "howToUse__title">＜使用方法＞</div>
  <div class = "howToUse__sentence">
  <br>①何のための時間にするのか  ②なぜそのアクションをするのか  ③どれだけの時間を使うか
  <br>以上の３点を考え、宣言しよう！あとはストップウォッチで時間を計測するだけ！<br>
  <br>計測が終わったら、どんどん次のアクションへ進もう！休憩時間や食事の時間もストイックに計ろう！
  <br>ストップウォッチを開始する場合 ⇨<span>『開始する』</span>ボタンを押下してください。
  <br>次のアクションに進む場合 ⇨<span>『記録する』</span>ボタンを押下してください。<br>
  <br><span>『活動記録』</span>で１日の行動を振り返ろう！<span>『今日を終了』</span>ボタンで、記録は全て消去されます。
  <br><br>注意事項：記録をすることができるのは１日だけです。１日の時間配分にのみフォーカスしてください。<br><br>
  <br><div class = "point">偉人たちの言葉を参考に<br>「自分の時間（＝人生）を使う」ことを意識して行動しよう！</div>
  </div>
</h3>

<div class = "start__button">
  <%= link_to "Start!!", new_declaration_path, class: "start__button-btn" %>
</div>