<p id="notice"><%= notice %></p>

<%= render 'shared/header' %>

<h1>あなたの時間をマネジメントしよう！</h1>

<h2>このアプリはあなたの人生（＝時間）を有意義なものに導きます</h2>
<h3>＜使い方＞
  <li>①何のための時間にするのか</li>
  <li>②なぜそのアクションをするのか</li>
  <li>③どれだけの時間を使うか</li>
  <br>以上の３点を考え、入力してください！
</h3>

<h3>＜ポイント＞
  <br>自分の時間を使うということは、自分の人生を使うということをよく考えて行動しよう！
</h3>



<br>

<%= link_to "Good Morning!!", new_declaration_path %>



