<%= render 'shared/header' %>

<p id="notice"><%= notice %></p>

<div id = "sentence">
  <div id = "sentence1" class = "sentence">明日死ぬかのように生きよ。<br>永遠に生きるかのように学べ。<br>- マハトマ・ガンジー -<a href = ""><img src = ""></a></div>
  <div id = "sentence2" class = "sentence">人生とは今日一日のことである。<br>- デール・カーネギー -<a href = ""><img src = ""></a></div>
  <div id = "sentence3" class = "sentence">時間の浪費をなんとも思わない人は、人生の価値をまだ発見してはいない。<br>- ダーウィン -<a href = ""><img src = ""></a></div>
  <div id = "sentence4" class = "sentence">睡眠は三日間で三時間。こんなつらい仕事を四十年続けるなんて、馬鹿じゃないとできないですよ。<br>- 手塚治虫 -<a href = ""><img src = ""></a></div>
  <div id = "sentence5" class = "sentence">人は、生まれ、ほんの一瞬生き、そして死ぬんだ。ずっとそうだ。<br>- スティーブ・ジョブズ -<a href = ""><img src = ""></a></div>
  <div id = "sentence6" class = "sentence">時というものは、それぞれの人間によって、それぞれの速さで走るものなのだよ。<br>- シェイクスピア -<a href = ""><img src = ""></a></div>
</div>

<%= render 'form', declaration: @declaration %>


