<%= render 'shared/header' %>

<p id="notice"><%= notice %></p>

<div class = "title">
  <h1 class = "title__main-title">Action Record Form</h1>
  <h2 class = "title__sub-title">〜 価値のある時間を創り出しましょう！ 〜</h2>
</div>

<div id = "sentence">
  <div id = "sentence7" class = "sentence">お前がいつの日か出会う禍は、<br>お前がおろそかにしたある時間の報いだ。<br>- ナポレオン・ボナパルト -</div>
  <div id = "sentence8" class = "sentence">時間こそは、<br>最もユニークで乏しい資源。<br>- ピーター・ドラッカー -</div>
  <div id = "sentence9" class = "sentence">たいていの成功者は他人が時間を浪費している間に先へ進む。<br>これは私が長年、この眼で見てきたことである。<br>- ヘンリー・フォード -</div>
  <div id = "sentence10" class = "sentence">時間を浪費するな、<br>人生は時間の積み重ねなのだから。<br>- ベンジャミン・フランクリン -</div>
  <div id = "sentence11" class = "sentence">人生を大事にしているなら時間を浪費してはいけない。<br>人生は時間の積み重ねなのだから。<br>- ブルース・リー -</div>
  <div id = "sentence12" class = "sentence">人生は短い。だから友よ、<br>空騒ぎしたり、争ったりする暇なんてないんだ。<br>- ジョン・レノン -</div>
</div>

<%= render 'form', declaration: @declaration %>