html,body {
  background-color: #d48e3d;
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  height: 140px;

  &__main-title {
    font-size: 70px;
  }

  &__sub-title {
    font-size: 30px;
  }
}

.howToUse {
  text-align: center;
  height: 700px;
  margin: 30px 50px;
  border: solid 2px black;
  background-image: url("timephoto5.jpeg");
  background-size: cover;
  color: white;
  font-size: 25px;

  &__title {
    font-size: 30px;
    font-weight: bold;
  }

  &__sentence span {
    color: $main-blue;
    font-weight: bold;
    background-color: black;
  }

  &__sentence .point{
    font-size: 40px;
    font-weight: bold;
  }
}

.start__button {
  margin: auto;
  height: 150px;

  &-btn {
    display: block;
    font-size: 50px;
    width: 300px;
    padding: 20px 40px;
    margin: auto;
    text-align: center;
    background-color: black;
  }
}

#notice {
  font-size: 20px;
  color: red;
  background-color: black;
  text-align: center;
}