.error__messages {
  font-size: 20px;
  color: red;
  background-color: black;
}

.form {
  font-size: 30px;
}

label {
  background-color: $main-black;
  color: $main-blue;
}

.what, .why, .time {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.what__field, .why__field, .time__field {
  width: 600px;
}

#timer {
  margin-top: 30px;
  font-size: 200px;
  text-align: center;
  background-color: $main-black;
  color: $main-blue;
}

.stopwatch__button {
  text-align: center;
  margin-top: 30px;
}

#start {
  font-size: 50px;
  background-color: $main-blue;
  border: solid 1px $main-black;
  margin-right: 30px;
  font-family: sans-serif;
}

.link__record {
  border: solid 1px $main-black;
  display: inline-block;
  font-size: 50px;
  background-color: $main-blue;
  color: $main-black;
}
