.what {
  font-size: 30px;
}

.what__field {
  width: 600px;
}

.why {
  font-size: 30px;
}

.why__field {
  width: 600px;
}

.time {
  font-size: 30px;
}

.time__field {
  width: 600px;
}

#timer {
  margin-top: 50px;
  font-size: 150px;
  text-align: center;
  background-color: black;
  color: #1eaaeb;
}

.stopwatch__button {
  text-align: center;
  margin-top: 30px;
}

#start {
  font-size: 80px;
  background-color: #1eaaeb;
  border: solid 1px black;
  margin-right: 30px;
  font-family: sans-serif;
}

.link__record {
  border: solid 1px black;
  display: inline-block;
  font-size: 80px;
  background-color: #1eaaeb;
  color: black;
}
