.header {
  background-color: #271802;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;

  &__btn {
    margin: 15px;
  }
}

.header__right {
  display: flex;
  justify-content: right;

  &__btn {
    margin: 15px;
  }
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;

  &:hover {
    color: $main-blue;
  }

  &:active {
    color:#a72121;
  }
}