#sentence {
  width: 100vw;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.sentence {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  font-size: 50px;
  color: white;
  margin-top: 30px;
}

#sentence1 {
  @include slide(0s,"/images/ganzi.jpeg");
}

#sentence2 {
  @include slide(3s,"/images/dale.jpeg");
}

#sentence3 {
  @include slide(6s,"/images/dawin.jpeg");
}

#sentence4 {
  @include slide(9s,"/images/teduka.jpeg");
}

#sentence5 {
  @include slide(12s,"/images/jobs.jpeg");
}

#sentence6 {
  @include slide(15s,"/images/shake.jpeg");
}

#sentence7 {
  @include slide(0s,"/images/naporeonn.jpg");
}

#sentence8 {
  @include slide(3s,"/images/durucker.jpg");
}

#sentence9 {
  @include slide(6s,"/images/henryford.jpg");
}

#sentence10 {
  @include slide(9s,"/images/furankurin.jpg");
}

#sentence11 {
  @include slide(12s,"/images/lee.jpg");
}

#sentence12 {
  @include slide(15s,"/images/jonrenon.jpg");
}

@keyframes fadeinout {
  0% {opacity: 0;}
  5% {opacity: 1;}
  10% {opacity: 1;}
  30% {opacity: 0;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeinout{
  0% {opacity: 0;}
  5% {opacity: 1;}
  10% {opacity: 1;}
  30% {opacity: 0;}
  100% {opacity: 0;}
}
