// Place all the styles related to the declarations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.check {
  margin: 30px 50px;
  text-align: center;
  font-size: 25px;
  
  &__title {
    margin-bottom: 20px;
    font-size: 60px;
  }

  &__item {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    &-1, &-2, &-3 {
      width: 380px;
      height: 200px;
      background-color: $main-black;
      color: white;
      border-radius: 10px;

      &__sentence {
        padding: 1px;
        font-size: 20px;
        text-align: left;
      }
    }
  }
}

.howToUse {
  margin: 30px 50px;
  height: 600px;
  background-image: url("/images/timephoto5.jpeg");
  background-size: cover;
  color: white;
  text-align: center;
  font-size: 25px;
  border: solid 2px $main-black;
  border-radius: 10px;

  &__sentence span {
    color: $main-blue;
    font-weight: bold;
    background-color: $main-black;
  }

  &__sentence .point{
    font-size: 40px;
    font-weight: bold;
  }
}

.start__button {
  margin: auto;
  height: 150px;

  &-btn {
    display: block;
    padding: 20px 40px;
    width: 300px;
    margin: auto;
    font-size: 50px;
    text-align: center;
    background-color: $main-black;
    border-radius: 10px;
  }
}

#notice {
  font-size: 20px;
  color: red;
  background-color: $main-black;
  text-align: center;
}

.form {
  font-size: 30px;
}

label {
  background-color: $main-black;
  color: $main-blue;
}

.form__item {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.declaration__field {
  width: 600px;
  height: 40px;
  margin-top: 5px;
  padding: 10px 16px 8px;
  border-radius: 5px;
}

#timer {
  margin-top: 30px;
  font-size: 200px;
  text-align: center;
  background-color: $main-black;
  color: $main-blue;
}

.stopwatch__button {
  text-align: center;
  margin-top: 30px;
}

#start {
  font-size: 50px;
  background-color: $main-blue;
  border: solid 1px $main-black;
  margin-right: 30px;
  margin-bottom: 50px;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  border-radius: 10px;
}

.link__record {
  border: solid 1px $main-black;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
  background-color: $main-blue;
  color: $main-black;
  border-radius: 10px;
  padding: 2px;
}