.devise__title {
  text-align: center;
  font-size: 50px;
  color: $main-blue;
  background-color: $main-black;
} 

.field {
  max-width: 436px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;

  &__area {
    width: 400px;
    height: 40px;
    margin-top: 5px;
    padding: 10px 16px 8px;
    border-radius: 5px;
  }
}

em {
  background-color: red;
  border-radius: 2px;
  padding: 3px;
}

.actions {
  max-width: 436px;
  margin: 0 auto;

  &__btn {
    width: 436px;
    height: 62px;
    margin: 30px 0px;
    border-radius: 5px;
    font-size: 20px;

    &:hover {
      background-color: $main-blue;
    }
  }
}

#error_explanation {
  font-size: 20px;
  color: red;
  background-color: $main-black;
}

.alert {
  font-size: 20px;
  text-align: center;
  color: red;
  background-color: $main-black;
}

.error__messages-user {
  color: red;
}

.field_with_errors {
  display: contents;

  input {
    border-color: red;
  }

  textarea {
    border-color: red;
  }
}